.topbar {
  background-color: #002e5a;
  color: white;
  padding: 8px 0;
  font-size: 14px;
}

.container-topbar {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
  gap: 20px;
}

.contact-info span {
  display: flex;
  align-items: center;
}

.contact-info i {
  color: #fada06;
  margin-right: 8px;
}

.reac-info {
  text-align: right;
}
