.topbar {
  background-color: black;
  color: white;
  padding: 8px 0;
  font-size: 14px;
}

.container-topbar {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info-topbar {
  display: flex;
  gap: 20px;
}

.contact-info-topbar span {
  display: flex;
  align-items: center;
}

.contact-info-topbar i {
  color: #ffed03;
  margin-right: 8px;
}

.reac-info {
  text-align: right;
}

@media (max-width: 992px) {
  .topbar{
    display: none;
  }
}
